### Creating and Persisting an ML Model

In [16]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/student-mat.csv', sep=';')

Summary of the data

In [17]:
df.describe()
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [18]:
df.info

<bound method DataFrame.info of     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]>

Create a subset of features as an example.

In [19]:
include = ['school', 'higher','Mjob', 'Fjob', 'studytime', 'paid', 'failures', 'G3']
df.drop(columns=df.columns.difference(include), inplace=True)  # only using 3 features

In [20]:
df.info

<bound method DataFrame.info of     school      Mjob      Fjob  studytime  failures paid higher  G3
0       GP   at_home   teacher          2         0   no    yes   6
1       GP   at_home     other          2         0   no    yes   6
2       GP   at_home     other          2         3  yes    yes  10
3       GP    health  services          3         0  yes    yes  15
4       GP     other     other          2         0  yes    yes  10
..     ...       ...       ...        ...       ...  ...    ...  ..
390     MS  services  services          2         2  yes    yes   9
391     MS  services  services          1         0   no    yes  16
392     MS     other     other          1         3   no    yes   7
393     MS  services     other          1         0   no    yes  10
394     MS     other   at_home          1         0   no    yes   9

[395 rows x 8 columns]>

The goal is to predict the quality of the student. We will build a predictor based on the final grade (G3).
Becasue we are trying to find quality students. In this model we define a quality student as one who achieves a final grade of 15 or higher.

In [21]:
df['qual_student'] = np.where(df['G3']>=15, 1, 0)

In [22]:
df.describe()

        studytime    failures          G3  qual_student
count  395.000000  395.000000  395.000000    395.000000
mean     2.035443    0.334177   10.415190      0.184810
std      0.839240    0.743651    4.581443      0.388636
min      1.000000    0.000000    0.000000      0.000000
25%      1.000000    0.000000    8.000000      0.000000
50%      2.000000    0.000000   11.000000      0.000000
75%      2.000000    0.000000   14.000000      0.000000
max      4.000000    3.000000   20.000000      1.000000

Drop the G3 score

In [23]:
include = ['school', 'higher','Mjob', 'Fjob', 'studytime', 'paid', 'failures', 'qual_student']
df.drop(columns=df.columns.difference(include), inplace=True)

Import scikit-learn and build a random forest classifer

In [24]:
import sklearn
from sklearn import preprocessing, neighbors, svm
from sklearn.ensemble import RandomForestClassifier as rf
from sklearn.model_selection import train_test_split

dependent_variable = 'qual_student'

df = pd.get_dummies(df, drop_first=True)
# df = pd.concat(pd.get_dummies(df, drop_first=True), df,  axis=1)
# df = pd.get_dummies(df, drop_first=True).astype(float)
y = df[dependent_variable]
X = df[df.columns.difference([dependent_variable])]
# print(X)

# print(df)

# clf = rf(n_estimators = 1000)
# clf.fit(x, y)

#splitting the train and test sets
X_train, X_test, y_train,y_test= train_test_split(X, y, test_size=0.3)

In [25]:
# pred = clf.predict(x)
# sklearn.metrics.f1_score(y, pred, average='binary')

rfc = rf(criterion='gini', 
        n_estimators=10750,
        max_depth=5,
        min_samples_split=6,
        min_samples_leaf=6,
        max_features='auto',
        oob_score=True,
        random_state=42,
        n_jobs=-1,
        verbose=1)

rfc.fit(X_train, y_train)
print('****Results****')
print("Accuracy: {:.4%}".format(rfc.score(X_test, y_test)))

/root/.local/share/virtualenvs/fall-22-hw4-bill-and-teedy-s-excellent-adv-ObamcBOO/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:427: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 418 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 768 tasks      | elapsed:    1.9s
[Parallel(n_jobs=-1)]: Done 1218 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done 1768 tasks      | elapsed:    4.3s
[Parallel(n_jobs=-1)]: Done 2418 tasks      | elapsed:    6.0s
[Parallel(n_jobs=-1)]: Done 3168 tasks      | elapsed:    7.8s
[Parallel(n_jobs=-1)]: Done 4018 tasks      | elapsed:    9.8s
[Parallel(n_jobs=-1)]: Done 4968 tasks      | elapsed:   12.1s
[Parallel(n_jobs=-1)]: Done 6018 tasks      | elapsed:   14.6s
[Parallel(n_jobs=-1)]: Done 7168 tasks      | elapsed:   17.3s
[Parallel(n_jobs=-1)]: Done 8418 tasks      | elapsed:   20.3s
[Parallel(n_jobs=-1)]: Done 9768 tasks      | elapsed:   23.5s
[Parallel(n_jobs=-1)]: Done 10750 out of 10750 | elapsed:   25.9s finished

****Results****

[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 168 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 418 tasks      | elapsed:    0.1s
[Parallel(n_jobs=16)]: Done 768 tasks      | elapsed:    0.2s
[Parallel(n_jobs=16)]: Done 1218 tasks      | elapsed:    0.2s
[Parallel(n_jobs=16)]: Done 1768 tasks      | elapsed:    0.4s
[Parallel(n_jobs=16)]: Done 2418 tasks      | elapsed:    0.5s
[Parallel(n_jobs=16)]: Done 3168 tasks      | elapsed:    0.6s
[Parallel(n_jobs=16)]: Done 4018 tasks      | elapsed:    0.8s
[Parallel(n_jobs=16)]: Done 4968 tasks      | elapsed:    1.0s
[Parallel(n_jobs=16)]: Done 6018 tasks      | elapsed:    1.2s
[Parallel(n_jobs=16)]: Done 7168 tasks      | elapsed:    1.5s
[Parallel(n_jobs=16)]: Done 8418 tasks      | elapsed:    1.7s

Accuracy: 78.1513%

[Parallel(n_jobs=16)]: Done 9768 tasks      | elapsed:    2.0s
[Parallel(n_jobs=16)]: Done 10750 out of 10750 | elapsed:    2.2s finished

It's not very good! We didn't even cross validate. You'll need to do better :)
Let's export this model so we can use it in a microservice (flask api)

In [26]:
import joblib
# modify the file path to where you want to save the model
joblib.dump(rfc, 'app/handlers/model4.pkl')

['app/handlers/model4.pkl']

In [27]:
# print(X_train)
# print(X_train.columns)
query_df = pd.DataFrame({'Fjob_health' : pd.Series(0), 
                         'Fjob_other' : pd.Series(1), 
                         'Fjob_services': pd.Series(0),
                         'Fjob_teacher': pd.Series(0),
                         'Mjob_health': pd.Series(0),
                         'Mjob_other': pd.Series(0),
                         'Mjob_services': pd.Series(0),
                         'Mjob_teacher': pd.Series(1),
                         'failures': pd.Series(5),
                         'higher_yes': pd.Series(1),
                         'paid_yes': pd.Series(1),
                         'school_MS': pd.Series(0),
                         'studytime': pd.Series(20)})
# query_df = pd.get_dummies(query_df, drop_first=True).astype(float)

In [31]:
pred = rfc.predict(query_df)

[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 168 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 418 tasks      | elapsed:    0.1s
[Parallel(n_jobs=16)]: Done 768 tasks      | elapsed:    0.2s
[Parallel(n_jobs=16)]: Done 1218 tasks      | elapsed:    0.3s
[Parallel(n_jobs=16)]: Done 1768 tasks      | elapsed:    0.4s
[Parallel(n_jobs=16)]: Done 2418 tasks      | elapsed:    0.5s
[Parallel(n_jobs=16)]: Done 3168 tasks      | elapsed:    0.7s
[Parallel(n_jobs=16)]: Done 4018 tasks      | elapsed:    0.9s
[Parallel(n_jobs=16)]: Done 4968 tasks      | elapsed:    1.1s
[Parallel(n_jobs=16)]: Done 6018 tasks      | elapsed:    1.3s
[Parallel(n_jobs=16)]: Done 7168 tasks      | elapsed:    1.5s
[Parallel(n_jobs=16)]: Done 8418 tasks      | elapsed:    1.8s
[Parallel(n_jobs=16)]: Done 9768 tasks      | elapsed:    2.1s
[Parallel(n_jobs=16)]: Done 10750 out of 10750 | elapsed:    2.3s finished

In [29]:
pred

array([0])

In [30]:
type(pred)

numpy.ndarray

In [32]:
print(query_df.columns)

Index(['Fjob_health', 'Fjob_other', 'Fjob_services', 'Fjob_teacher',
       'Mjob_health', 'Mjob_other', 'Mjob_services', 'Mjob_teacher',
       'failures', 'higher_yes', 'paid_yes', 'school_MS', 'studytime'],
      dtype='object')